/* Services start */
.section-title p { font-family: 'Playfair Display', serif; font-size: 19px; }
.section-title span { background: #067fb5; height: 7px ; width: 7px; display: block; margin: auto; margin-top: 20px; margin-bottom: 20px; position: relative; border-radius: 50%; }
.section-title span:before { position: absolute; content: ''; background: #067fb5; height: 7px ; width: 7px; left: 13px; top: 0; border-radius: 50%; }
.section-title span:after { position: absolute; content: ''; background: #067fb5; height: 7px ; width: 7px; right: 13px; top: 0; border-radius: 50%; }
.our_services { padding-top:80px; padding-bottom:50px; }
.service { background: #fff none repeat scroll 0 0; padding: 0 15px; margin-bottom:40px; transition: all 0.4s ease 0s; }
.service .icon { background: #067fb5; border-radius: 50%; color: #fff; font-size: 29px; height: 80px; line-height: 80px; text-align: center; top: 0; transition: all 0.3s ease 0s; width: 80px;
				 margin-bottom: 20px; margin-left: auto; margin-right: auto; text-shadow: #067fb5 1px 1px, #067fb5 2px 2px, #067fb5 3px 3px, #067fb5 4px 4px, #067fb5 5px 5px, #067fb5 6px 6px, #067fb5 7px 7px, #067fb5 8px 8px, #067fb5 9px 9px, #067fb5 10px 10px, #067fb5 11px 11px, #067fb5 12px 12px, #067fb5 13px 13px, #067fb5 14px 14px, #067fb5 15px 15px, #067fb5 16px 16px, #067fb5 17px 17px, #067fb5 18px 18px, #067fb5 19px 19px, #067fb5 20px 20px, #067fb5 21px 21px, #067fb5 22px 22px, #067fb5 23px 23px, #067fb5 24px 24px, #067fb5 25px 25px, #067fb5 26px 26px, #067fb5 27px 27px, #067fb5 28px 28px, #067fb5 29px 29px, #067fb5 30px 30px, #067fb5 31px 31px, #067fb5 32px 32px, #067fb5 33px 33px, #067fb5 34px 34px, #067fb5 35px 35px, #067fb5 36px 36px, #067fb5 37px 37px, #067fb5 38px 38px, #067fb5 39px 39px, #067fb5 40px 40px, #067fb5 41px 41px, #067fb5 42px 42px, #067fb5 43px 43px, #067fb5 44px 44px, #067fb5 45px 45px, #067fb5 46px 46px, #067fb5 47px 47px, #067fb5 48px 48px, #067fb5 49px 49px, #067fb5 50px 50px, #067fb5 51px 51px, #067fb5 52px 52px, #067fb5 53px 53px, #067fb5 54px 54px, #067fb5 55px 55px, #067fb5 56px 56px, #067fb5 57px 57px, #067fb5 58px 58px, #067fb5 59px 59px, #067fb5 60px 60px, #067fb5 61px 61px, #067fb5 62px 62px, #067fb5 63px 63px, #067fb5 64px 64px, #067fb5 65px 65px, #067fb5 66px 66px, #067fb5 67px 67px, #067fb5 68px 68px, #067fb5 69px 69px, #067fb5 70px 70px, #067fb5 71px 71px, #067fb5 72px 72px, #067fb5 73px 73px, #067fb5 74px 74px, #067fb5 75px 75px, #067fb5 76px 76px, #067fb5 77px 77px, #067fb5 78px 78px, #067fb5 79px 79px, #067fb5 80px 80px, #067fb5 81px 81px, #067fb5 82px 82px, #067fb5 83px 83px, #067fb5 84px 84px, #067fb5 85px 85px, #067fb5 86px 86px, #067fb5 87px 87px, #067fb5 88px 88px, #067fb5 89px 89px, #067fb5 90px 90px, #067fb5 91px 91px, #067fb5 92px 92px, #067fb5 93px 93px, #067fb5 94px 94px, #067fb5 95px 95px, #067fb5 96px 96px, #067fb5 97px 97px, #067fb5 98px 98px, #067fb5 99px 99px, #067fb5 40px 100px; overflow: hidden; }
.service h4 { font-size: 22px; margin-bottom: 10px; text-transform: capitalize; font-weight: 600; }
.service p { font-size: 17.5px; }
/* Services end */
/* Media query for mobile devices */

/* MainFrame */
* { margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body { position: relative; }
a:hover{ text-decoration: none; }
table th { font-size: 18px; text-align: center; }
table td { font-size: 11px; color: black; }
.carousel-caption h2 { font-family: algerian; }
#yylg { background-color: #efefef; }
#myNavbar a { font-weight: 600; }
.affix { top: 0; width: 100%; z-index: 9999 !important; }
.affix + .container-fluid { padding-top: 70px; }
.service h4 { font-family: 'Playfair Display', serif; font-size: 25px; }
.service p { font-family: 'Playfair Display', serif; font-size: 19px; }
#bus-timings-btn a:hover { text-decoration: none; }
#bus-timings-table2 table th { font-size: 17.5px; }
#bus-timings-table2 table td { font-size: 13px; }
#bus-timings-table table th { font-size: 17.5px; }
#bus-timings-table table td { font-size: 13px; }
#careers-top-p { font-size: 22px;font-family: Calibre; }
#upcoming-openings h4 { font-weight: 600;background: orange;padding: 17px;text-align: center; }
#upcoming-openings table p.upcoming-openings-title { color: #e98621;font-size: 17px;font-weight: 600; }
#upcoming-openings table p.upcoming-openings-value { color: #fff;font-size: 15px;font-weight: 550; }
#current-openings table tr { border-bottom: 2px solid #efefef; }
/* media queries for mobile devices */
@media screen and (max-width: 1200px) {
	#destinations { background: #efefef; }
	#destinations h2 { color: #334e6f; }
	#packages { background: #fff; }
	#private-guide { background: #efefef; }
	#private-guide h2 { color: #334e6f; }
	#vmatpd { text-decoration: underline; color: green; font-size: 75%; }
	#vmatpd1 { color: green; }
	.carousel-caption { display: none; }
	#bus-timings { display: none; }
	#bus-timings-menu { display: none; }
	#services h4 { font-size: 18.7px; }
	#services p { display: none; }
	.section-title h2 { font-size: 23px; }
	#careers-top-p { font-size: 20px;font-family: Calibre; }
	#upcoming-openings { background-color: #155caa;color: #fff; }
	#upcoming-openings-top-table table { overflow: auto; }
	#upcoming-openings table p.upcoming-openings-value { text-align: center; }
}

/* media queries for large devices */
@media screen and (min-width: 1200px) {
	#destinations { background: url('forest.webp') center no-repeat fixed; }
	#destinations h2 { color: #fff; }
	#packages { background: url('firecamp.webp') fixed center center; }
	#packages h2 { color: #fff; }
	#vmatpd,#vmatpd1 { color: #fff; }
	#upcoming-openings { background-color: #155caa;color: #fff;float: right; }
	#current-openings table td { padding: 10px; }
}
